extends ../modallayout

block content
  .mdl-grid
    .mdl-card.mdl-shadow--16dp.signup-center.signup-spacing-h--40px
      .mdl-card__title.mdl-color--green-500(style='padding-top:120px')
        h2.mdl-card__title-text.mdl-color-text--white Reset Password
      .mdl-card__supporting-text.mdl-grid

        form(method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
            label.mdl-textfield__label.mdl-color-text--grey(for='password') Password
            input#password.mdl-textfield__input(type='password', name='password', pattern='((?=.*\\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$%]).{6,20})', autofocus, required)
            span.mdl-textfield__error
              | 6-20 characters with at least a digit, lowercase and uppercase letters,
              | and special symbol in @#$%
          .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.mdl-cell.mdl-cell--12-col
            label.mdl-textfield__label.mdl-color-text--grey(for='confirm') Confirm Password
            input#confirm.mdl-textfield__input(type='password', name='confirm')
          .mdl-cell.mdl-cell--12-col.send-button(align='right')
            button#login.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-color--accent.mdl-color-text--accent-contrast(type='submit')
              | Change Password