footer.android-footer.mdl-mega-footer
  .mdl-mega-footer--top-section
    .mdl-mega-footer--left-section
      a(href='https://twitter.com/rangecoworking')
        button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored.mdl-color-text--accent-contrast(style='background-color:#64ffda')
          i.fa.fa-twitter(aria-hidden='true')
      button.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored.mdl-color-text--accent-contrast(style='background-color:#64ffda')
        i.fa.fa-facebook-f(aria-hidden='true')
    //.mdl-mega-footer--right-section
      a.mdl-typography--font-light(href='#top')
        | Back to Top
        i.material-icons expand_less
  .mdl-mega-footer--middle-section
    p.mdl-typography--font-light © 2017 Range Coworking
  .mdl-mega-footer--bottom-section
    a#developers-dropdown.android-link.android-link-menu.mdl-typography--font-light
      | For Locations
      i.material-icons arrow_drop_up
    ul.mdl-menu.mdl-js-menu.mdl-menu--top-left.mdl-js-ripple-effect(for='developers-dropdown')
      a(href='/newspace', style='text-decoration:none')
        li.mdl-menu__item Requirements
      a(href='/newspace', style='text-decoration:none')
        li.mdl-menu__item Benefits
      a(href='/newspace', style='text-decoration:none')
        li.mdl-menu__item Legal
      a(href='/newspace', style='text-decoration:none')
        li.mdl-menu__item Sign Up
    a.android-link.mdl-typography--font-light(href='/blog') Blog
    a.android-link.mdl-typography--font-light(href='') Privacy Policy
    a.android-link.mdl-typography--font-light(href='/contact') Contact
