extends layout

block content
  .pmainbanner.mdl-typography--text-center
    .logo-font.android-slogan Join Range
    .logo-font.android-sub-slogan and get to work
    a(href='/signup')
      button.android-fab.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
        i.material-icons add

  section.section--center.mdl-grid.mdl-grid--no-spacing.mdl-shadow--2dp.ptop
    .mdl-card.mdl-cell.mdl-cell--12-col
      .mdl-card__supporting-text.mdl-grid.mdl-grid--no-spacing
        h4.mdl-cell.mdl-cell--12-col Enjoy instant access to all of our Range coworking locations
        .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
          .section__circle-container__circle.mdl-color--primary
        .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
          h5 Comfortable
          | Our spaces are quiet so you can concentrate.  You'll find good wifi and easy access to outlets, and enjoy a complimentary beverage each day.                
          a(href='/locations') Browse to find your favorite
          | . Some offer food during the day for an additional fee.
        .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
          .section__circle-container__circle.mdl-color--primary
        .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
          h5 Convenient
          |  It takes 30 seconds to join. When you arrive at your location for the day, simply check in online.  We are adding                      
          a(href='/locations') new locations each week
          | .
        .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
          .section__circle-container__circle.mdl-color--primary
        .section__text.mdl-cell.mdl-cell--10-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
          h5 Value
          |  For $75, our membership includes unlimited access to all of our locations.  The reason we can offer a price lower than any other space is the locations would otherwise be empty during the day.                     
          a(href='/locations') Find the location nearest you. 
          | None in your neighborhood?  Suggest one.
      .mdl-card__actions
        a.mdl-button(href='/signup') Sign up now
        


  section.section--footer.mdl-color--white.mdl-grid
    .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
      .section__circle-container__circle.mdl-color--accent.section__circle--big
    .section__text.mdl-cell.mdl-cell--4-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
      h5 Lorem ipsum dolor sit amet
      |               Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.
    .section__circle-container.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-phone
      .section__circle-container__circle.mdl-color--accent.section__circle--big
    .section__text.mdl-cell.mdl-cell--4-col-desktop.mdl-cell--6-col-tablet.mdl-cell--3-col-phone
      h5 Lorem ipsum dolor sit amet
      |               Qui sint ut et qui nisi cupidatat. Reprehenderit nostrud proident officia exercitation anim et pariatur ex.


