doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description' content='Convenient coworking locations at a reasonable price')
    meta(name='csrf-token', content=_csrf)
    title #{title} - Range Coworking
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Righteous:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')

    //link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.deep_purple-pink.min.css')
    link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/styles.css?v=54')
    //link(rel='stylesheet', href='/css/dashboard.css?v=1')
    script(src='https://code.getmdl.io/1.3.0/material.min.js')

    //link(rel='stylesheet', href='https://cdn.rawgit.com/FezVrasta/bootstrap-material-design/dist/dist/bootstrap-material-design.min.css')
    link(rel='stylesheet', href='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css')
    script(src='//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js')

  body.mdl-demo
    include partials/flash
  
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include partials/header

      main.mdl-layout__content
        block content

        include partials/footer
    
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    script(src='https://unpkg.com/popper.js@1.12.5/dist/umd/popper.js', integrity='sha384-KlVcf2tswD0JOTQnzU4uwqXcbAy57PvV48YUiLjqpk/MJ2wExQhg9tuozn5A1iVw', crossorigin='anonymous')
    script(src='https://unpkg.com/bootstrap-material-design@4.0.0-beta.3/dist/js/bootstrap-material-design.js', integrity='sha384-hC7RwS0Uz+TOt6rNG8GX0xYCJ2EydZt1HeElNwQqW+3udRol4XwyBfISrNDgQcGA', crossorigin='anonymous')


    
    // Google Analytics: change UA-XXXXX-X to be your site's ID
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-105997838-1', 'auto');
      ga('send', 'pageview');
